<div class="weather">
  <div class="weather-temp">
    <img [src]="weatherData?.weather[0].id | weatherCloudsToIcon ">
    <span [hidden]="!weatherData?.main.temp">{{weatherData?.main.temp | temperatureUSEU: isEU }}&#176;</span>
  </div>
  <span class="description">
    {{weatherData?.weather[0].description }}
  </span>
</div>
<div class="group-parametrs">
  <div class="parametr"><p class="title-parametr">Ветер</p><span [hidden]="!weatherData?.wind.deg" class="desc-parametr">{{weatherData?.wind.speed}} м/с, {{weatherData?.wind.deg | weatherDirection}}</span></div>
  <div class="parametr"><p class="title-parametr">Давление</p><span class="desc-parametr">{{weatherData?.main.pressure | weatherPressure}} мм рт. ст.</span></div>
  <div class="parametr"><p class="title-parametr">Влажность</p><span class="desc-parametr">{{weatherData?.main.humidity}}%</span></div>
  <div class="parametr"><p class="title-parametr">Осадки</p><span class="desc-parametr">{{ weatherData?.rain ? weatherData?.rain : 0}} мм</span></div>
</div>