.weather-temp
  display: flex
  justify-content: center
  align-items: flex-end
  flex-wrap: nowrap
  color: #ffffff
  font-family: PTSans
  font-size: 180px
  font-style: normal
  font-stretch: normal
  font-weight: 400
  line-height: 160px
  text-align: left
  text-transform: none
  text-decoration: none
  letter-spacing: 0px
.weather
  height: 50vh
  padding-top: 13vh
  .description
    display: block
    text-align: center
    color: #ffffff
    font-family: PTSans
    font-size: 25px
    font-style: normal
    font-stretch: normal
    font-weight: 400
    text-transform: none
    text-decoration: none
    letter-spacing: 0px
.group-parametrs
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  .title-parametr
    font-family: ProximaNova
    font-size: 18px
    font-style: normal
    font-stretch: normal
    font-weight: 400
    line-height: 24px
    text-align: left
    text-transform: none
    text-decoration: none
    letter-spacing: 0px
    color: #ffffff
    opacity: 0.6
  .desc-parametr
    color: #ffffff
    font-family: ProximaNova
    font-size: 25px
    font-style: normal
    font-stretch: normal
    font-weight: 700
    line-height: 33px
    text-align: left
    text-transform: none
    text-decoration: none
    letter-spacing: 0px
@media all and (max-width: 870px)
  .parametr
    width: 47vw
@media all and (max-width: 375px)
  .weather-temp
    > img
      width: 100px
    span
      font-family: ProximaNovaCond;
      font-size: 90px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 300;
      line-height: 120px;
      text-align: center;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0px;
  .group-parametrs
    .parametr
      width: 50%
    .title-parametr
      margin-bottom: 0px;
      font-size: 15px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0px;
    .desc-parametr
      font-size: 18px;
      font-style: normal;
      font-stretch: normal;
      font-weight: 700;
      line-height: 24px;
      text-align: left;
      text-transform: none;
      text-decoration: none;
      letter-spacing: 0px;