<div class="cont">
  <div class="container">
    <div>
      <input type="button" class="city" [value]="form.value.q">
      <form [formGroup]="form" [ngClass]="isShow ? 'show-form' : 'hidden-form'" (ngSubmit)="onSubmit()">
        <input type="text" class="mobile form-city" [placeholder]="" formControlName="q">
        <button class="mobile button-submit" type="submit">OK</button>
      </form>
    </div>
    <div (click)="isEU = !isEU" class="button-switch">
      <span [ngClass]="isEU ? 'active' : ''" class="c">C</span>
      <span [ngClass]="isEU ? '' : 'active'" class="f">F</span>
    </div>
  </div>
  <div class="mobile-button">
    <input type="button" class="change-city" (click)="isShow = !isShow" value="Сменить город">
    <div>
      <img src="./../assets/weather-icons/path2.svg">
      <input type="button" class="user-geo" (click)="findWeatherOfCity()" value="Мое местоположение">
    </div>
  </div>
  <app-weather
    [weatherData]="weatherData | async" 
    [isEU]="isEU"
  ></app-weather>
</div>