.cont
  max-width: 1200px
  max-height: 820px
  margin: 0 auto;
.container
  margin-top: 81px
  display: flex
  justify-content: space-between

.button-switch
  // margin-right: 75px
  min-width: 77px 
  height: 29px 
  border: 1px solid rgba(255,255,255, 0.2) 
  border-radius: 8px
  color: #ffffff 
  font-family: "PT Sans" 
  font-size: 18px 
  font-style: normal 
  font-stretch: normal 
  font-weight: 400 
  line-height: 28px 
  text-transform: none 
  text-decoration: none 
  letter-spacing: 0px
  display: flex
  flex-wrap: nowrap

  &::before
    content: '\00b0'
    position: relative
    width: 0
    left: -15px
    color: rgba(255,255,255, 0.4)
  & > *
    display: block
    width: 38.25px
    height: 29px
    text-align: center
    line-height: 28px
    color: rgba(255,255,255, 0.4)
    overflow: auto
    width: 100% 
    //transition: all 1s ease-in
  .c
    border-radius: 8px 0 0 8px
  .f
    border-radius: 0 8px 8px 0
  .active
    background-color: rgba(255,255,255, 0.2)
    color: #ffffff
    //font-family: ProximaNova
    font-size: 18px
    font-style: normal
    font-stretch: normal
    font-weight: 700
    text-transform: none
    text-decoration: none
    letter-spacing: 0px

form
  width: 100%;
  // margin-left: 94px
  display: flex

  .form-city
    -moz-user-select: auto
    -khtml-user-select: auto
    user-select: auto 
    max-width: 429px;
    width: 100%;
    height: 97px
    min-width: 37vw;
    background: #ffffff
    padding: 0 75px 0 32px
    color: #000000
    border: none
    border-radius: 8px
    font-family: ProximaNova
    font-size: 30px
    font-style: normal
    font-stretch: normal
    font-weight: 400
    line-height: 40px
    text-align: left
    text-transform: none
    text-decoration: none
    letter-spacing: 0px
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.15)
    text-transform: capitalize
    
  .button-submit
    background-color: transparent
    border: none
    position: relative
    left: -75px
    color: #1086FF
    font-size: 30px
    font-style: normal
    font-stretch: normal
    font-weight: 400
    line-height: 40px
    text-align: left
    text-transform: none
    text-decoration: none
    letter-spacing: 0px
@media all and (min-width: 376px)
  .mobile-button, .city
    display: none
@media all and (max-width: 375px)
  form
    margin-left: 0
    position: absolute;
    z-index: 1

    .form-city
      width: 70vw;
      height: 42px;
      padding: 0 10vw 0 32px;
  .container
    flex-wrap: wrap
    margin-top: 19px
  .button-switch
    margin-right: 0
  .cont
    padding: 0 20px
  .mobile-button 
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    & > *, .user-geo
      color: #ffffff
      font-family: ProximaNova
      font-size: 15px
      font-style: normal
      font-stretch: normal
      font-weight: 400
      line-height: 20px
      text-align: left
      text-transform: none
      text-decoration: none
      letter-spacing: 0px
      opacity: 0.6
      background-color: transparent
      border: none
    > div img
      position: relative;
      bottom: -3px;
  
  .city
    color: #ffffff;
    font-family: ProximaNova;
    font-size: 30px;
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0px;
    background-color: transparent
    border: none
  .show-form
    display: block
  .hidden-form
    display: none
  form
    .button-submit
      position: absolute
      left: 70vw;