/* You can add global styles to this file, and also import other style files */
body
  margin: 0
  padding: 0
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;      
  background-color: #498CEC